.body {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: theme('colors.blue.light');

}

.header {
  width: 100vw;
  display: flex;
  flex-direction: column; 
  align-items: center;

  background: theme('colors.blue.light');
  background: -webkit-linear-gradient(90deg, rgba(228,229,239,0.7) 0%, rgba(228,229,239,0.9) 20%, rgba(228,229,239,0.9) 80%, rgba(228,229,239,0.7) 100%), url("/images/iStock-electric-stuff.jpg");
  background: linear-gradient(90deg, rgba(228,229,239,0.7) 0%, rgba(228,229,239,0.9) 20%, rgba(228,229,239,0.9) 80%, rgba(228,229,239,0.7) 100%), url("/images/iStock-electric-stuff.jpg");

  background-size: cover;
  background-attachment: fixed;
}